.we {
  padding: 40px 501px 76px 96px;
  @media (max-width: 900px) {
    padding: 40px 300px 76px 96px;
  }
  @media (max-width: 767px) {
    padding: 40px 50px 76px 50px;
  }
  @media (max-width: 500px) {
    padding: 40px 16px 76px 16px;
  }
}

.we__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 343px;
  min-height: 996px;
  border-radius: 12px;
  background: #ffffff;
  @media (max-width: 500px) {
    min-height: 700px;
  }
}

.we__container img {
  padding: 32px 24px 24px 24px;
  width: 100%;
  @media (max-width: 500px) {
    padding: 24px 16px 35px 16px;
  }
}

.we__title {
  padding: 0 0 16px 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #292929;
}

.we__subtitle {
  padding: 0 24px 0 0;
}

.we__first {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.we__second {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.we__third {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 24px;
  }
}
