.we {
  padding: 40px 501px 76px 96px;
}

.we__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 843px;
  height: 996px;
  border-radius: 12px;
  background: #ffffff;
}

.we__container img {
  padding: 32px 24px 24px 24px;
}

.we__title {
  padding: 0 0 16px 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #292929;
}

.we__subtitle {
  padding: 0 24px 0 0;
}

.we__first {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
}

.we__second {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
}

.we__third {
  padding: 0 0 12px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #292929;
}
